services:
  - type: web
    name: akkordio-backend
    env: docker
    dockerfilePath: ./Dockerfile
    region: oregon
    plan: free
    branch: main
    healthCheckPath: /health
    autoDeploy: true
